tr {
    text-align: center;
    line-height: 2.5em;
}

td {
    text-align: center;
    line-height: 1.5em;
}

td.left {
    text-align: left;
    text-decoration: none;
    color: black;
}

div.title {
}

/* td a {
    line-height: 3em;
} */
