.wrapper {
    width: 100%;
    position: relative;
    /* margin: 0 10%; */
    display: flex;
    justify-content: center;
    left: -2%;
}

.container {
    width: 70%;
    height: 200vh;
}

.box {
}

.product_id {
}

.product_title {
    font-size: 5em;
}

.product_content {
    font-size: 2em;
}

.product_brand {
}

.product_author {
}

.product_date {
}

.product_views {
}

.product_detailImg img {
    /* margin: auto; */
    max-width: 100%;
    height: auto;
}
