/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.blank {
    width: 100%;
    height: 7vw;
}

/* .login {
    top: 7vw;
} */
/* .wrap {
    position: absolute;
    top: 7vw;
}

form {
    top: 7vw;
} */
